#login-container {
    padding: 20px;
}

#registration-container {
    padding: 20px;
}

#autentication {
    text-align: center;
}

.btn {
    margin-top: 10px;
}

.btn-header {
    width: 100%;
}

.borderRed {
    border: 2px red solid;
}

.labels {
    margin-top: 12px;
    margin-bottom: 5px;
}

#check-admin-label {
    margin: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}

#check-admin {
    margin-left: 5px;
}

#sesso, #sesso-div {
    text-align: center;
}